<phpunit colors="true">
    <!-- <logging>
        <log type="coverage-html" target="report"/>
    </logging> -->
    <!-- <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix="Test.php">src</directory>
            </exclude>
        </whitelist>
    </filter> -->
</phpunit>